*{
    padding: 0;
    margin: 0;
}
nav{
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    margin-top: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: black 1px solid;
    gap: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo h1{
    margin-left: 20px;
    color: rgb(187, 55, 189);
    font-family: Arial, sans-serif;
}
.searchbar{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    border: black 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    
}
.searchbar input{
    border: none;
    width: 100%;
    /* height: 15px; */
    /* border-radius: 10px; */
    padding-left: 15px;
    font-size: 16px;
    
}
.searchbar input:focus{
    outline: none;
}
.icon{
    width:100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
.icon .logos{
    /* background-color: aqua; */
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.icon .logos i{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}
.icon .logos i p{
    font-size: 10px;
    color: rgb(187, 55, 189);
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.icon .links a{
    /* color: #000; */
    color: rgb(187, 55, 189);
    text-decoration: none;
    position: relative;
    cursor: pointer;
}
.icon .links .my_learning {
    /* color: #000;
     */
     
     color:  rgb(187, 55, 189);
     text-decoration: none;
     position: relative;
     cursor: pointer;
}
.icon .links .my_learning .pop_up{
    width: 150px;
    height: auto;
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: none;
}
.icon .links .my_learning:hover .pop_up{
    display: block;
}
.icon .links{
     display: flex;
     align-items: center;
     flex-direction: row;
     /* justify-content: space-around; */
     gap: 20px;
}
.icon i{
    color: rgb(187, 55, 189);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    

}
.for_mobile{
    display: none;
    margin-right: 20px;
    font-size: 24px;
    color: rgb(187, 55, 189);
    cursor: pointer;
}
.catogory{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: scroll;
    border-bottom: black 1px solid;
    padding: 10px;
    gap: 10px;

}
.catogory::-webkit-scrollbar{
    display: none;
}

.catogory p{
    padding: 10px;
    background-color: rgb(138, 43, 227);
    color: whitesmoke;
    font-weight: bolder;
    border-radius: 30px;
    cursor: pointer;
}

.catogory p:hover{
    background-color: rgb(185, 185, 50);
    color: #000;
    transition: 300ms;
}
.banner{
    width: 100%;
    height: auto;
    position: relative;
}
.banner .box{
    position: absolute;
    width: 40%;
    top: 20%;
    left: 5%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 10px;
    animation: lbox 2s ease-out 1ms 1 normal forwards;
    
}
@keyframes lbox {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.banner .l_img img{
    width: 100%;
    height: 70vh;
    margin-top: 10px;
}
.banner .m_img img{
    display: none;
    width: 100%;
    height: 40vh;
    margin-top: 10px;
}
.course_card{
    width: 100%;
    height: auto;
    

}

.course_card h1{
    margin: 10px 0;
    padding-left: 10px;
    color: rgb(187, 55, 189);
}
.course_card .catogory_courses{
    height: 95vh;
    overflow-x: scroll;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


}
.course_card .catogory_courses::-webkit-scrollbar{
    display: none;
}
.course_card .catogory_courses .course{
    
    display: flex;
    /* min-width: 400px; */
    flex-basis: 20%;
    flex-grow: 1;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}

.course_card .catogory_courses .course:hover{
    transform: scale(1.05);
    transition: 300ms;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}
.course_card .catogory_courses .course img{
    width: 100%;
    height: 50vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.course_card .catogory_courses .course p{
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
   
}



.topic{
    width: 100%;
    height: auto;
    
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 20px;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
.topic h1{
    margin: 10px 0;
    padding-left: 10px;
    color: rgb(187, 55, 189);
}
.topic .topics_list{
    /* width: 100%; */
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
    cursor: pointer;
    padding: 10px;
    flex-wrap: wrap;
    
}
.topic .topics_list p{
    /* width: 200px; */
    /* height: 150px; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-basis: 25%;
    flex-grow: 1;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.topic .topics_list p:hover{
    background-color:rgba(145, 68, 216, 0.555);
}
footer{
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    font-size: 18px;
}
.f1{
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(145, 68, 216); */
}
.f1 .col1{
    width: 50%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
}

.f1 .col1 table {
   
    width: 100%;
    
}
.f1 .col1 table tr{
    padding-right: 20px;
}
.f1 .col1 table tr td{
    
    font-family: 'Times New Roman', Times, serif;
    padding: 6px 40px;
    
}
.f1 .col2{
    width: 50%;
    height: fit-content;
    background-color: rgb(255, 0, 136);
}

.f2{
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.f2 h1{
     margin: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    
}
.f2 p{
    
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    
}


/* Responsive Design (Media Queries)*/

@media screen and (max-width: 975px){
    .logos i p{
        display: none;
    }
    img1{
        display: none;
    }
    .box{
        width: 60%;
        top: 10%;
        left: 10%;
        padding: 10px;
        font-size: 12px;
    }
}
@media screen and (max-width: 769px){
    .searchbar{
        display: none;
    }
    .icon{
        display: none;
    }
    .for_mobile{
        display: block;
        cursor: pointer;
    }
    .box{
        width: 60%;
        top: 10%;
        left: 10%;
        padding: 10px;
        font-size: 12px;
    }
    .course_card .catogory_courses{
    height: 95vh;
    overflow-x: scroll;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;


}
.course_card .catogory_courses::-webkit-scrollbar{
    display: none;
}
.course_card .catogory_courses .course{
    height: 80vh;
    display: flex;
    /* min-width: 400px; */
    flex-basis: 20%;
    flex-grow: 1;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
}
    .icon{
        gap: 20px;    
        margin-left: -30px;
        margin-right: 10px;
    }
    .icon .logos{
        display: flex;
        justify-content: space-between;
        width: 60%;
        gap: 4px;
    }
    .col2{
        display: none;
    }
    
}
@media screen and (max-width:526px) {
    .searchbar{
        display: none;
    }
    .icon{
        display: none;
    }
    .for_mobile{
        display: block;
        cursor: pointer;
    }
    .banner .box{
        width: 50%;
        top: 20%;
        left: 10%;
        padding: 20px;
        font-size: 12px;
    }
    .banner h1{
        display: none;
    }
    .banner .box p{
        display: none;
    }
    .banner .l_img img{
        display: none;
    }
    .banner .m_img img{
        display: block;
    }
    .course_card .catogory_courses{
        height: auto;
        overflow-x: scroll;
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    
    
    }
    .course_card .catogory_courses .course{
        min-width: 250px;
        /* width: 100%; */
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
        height: 80vh;
       
    }
    .f1 .col1 table tr td {
        font-size: 18px;
        width: 10rem;
    }
    .f1 .col2{
        display: none;
        width: 0;
    }
    .f2{
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    /* .course_card .catogory_courses .course img{
        height: 40vh;
    } */
}